html, body, #root {
  height: 100%;
  margin: 0;
}

.header {
  height: 20%;
  background: azure;
}

.tree-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  background: antiquewhite;
}

.level {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.level-connector {
  height: 1px;
  width: 180px;
  background: black;
}

.pair {
  border: 1px solid black;
  display: flex;
}

.node {
  margin: 5px;
  padding: 5px;
  width: 100px;
  text-align: center;
  border: 1px solid black;
}

.pair-connector {
  width: 1px;
  height: 10px;
  background: black;
  margin: auto;
}

.pair-group {
  margin: 0px 5px 0px 5px;
}
